<!--
  O mesmo para adicionar um tratamento e atualizar um tratamento
  Mostrar o título do tratamento 
  Mostrar a descrição do tratamento
  Mostrar o nome do estabelecimento onde foi feito o tratamento 
  Mostrar do Tratamento enum > Campo enum > TODO: pode ser adicionado mais
  Mostrar a data do tratamento
  Tem o botão para criar o tratamento 
-->
<div class="container">
  <div class="d-flex justify-content-center col-sm-12 col-md-10 col-lg">
    <div class="col-lg-10">
			<%= simple_form_for([@appointment, @treatment]) do |f| %>
				<%= f.error_notification %>
				<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  			<div class="form-group">
  				<%= f.input :title, label: 'Título' %>
  				<%= f.input :description, label: 'Descrição' %>
  				<%= f.input :establishment_name, label: 'Nome do Estabelecimento' %>
  				<!-- <%= f.input :kind %> -->
  				<%= f.input :kind, collection: Treatment.kinds.keys %>
  				<%= f.datetime_field :treatment_date %>
  				<!-- <%= f.association :appointment %> -->

					<%= f.button :submit, "Adicionar Tratamento" , {class:"btn mt-3 button-submit-auth-entry mb-4 btn-lg btn-block text-center"} %>
        </div>
			<% end %>
		</div>
	</div>
</div>