<p id="notice"><%= notice %></p>

<h1>Treatments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Establishment name</th>
      <th>Kind</th>
      <th>Treatment date</th>
      <th>Appointment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
    <tr>
      <td><%= treatment.title %></td>
      <td><%= treatment.description %></td>
      <td><%= treatment.establishment_name %></td>
      <td><%= treatment.kind %></td>
      <td><%= treatment.treatment_date %></td>
      <td><%= treatment.appointment_id %></td>
      <td><%= link_to 'Show', [@appointment] %></td>
      <td><%= link_to 'Edit Treatment', edit_appointment_treatment_path(@appointment, treatment) %></td>
      <td>
        <%= link_to 'Destroy Treatment', [@appointment, treatment], method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Treatment', new_appointment_treatment_path(@appointment) %>
<%= link_to 'Back to Appointment', appointment_path(@appointment) %>