<p id="notice">
  <%= notice %></p>
<div class="tables_standart mb-5">
  <h1>Tratamentos</h1>

  <table class="table table-hover" data-toggle="table" data-search="true" data-strict-search="true">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Data</th>
        <th>Local do Tratamento</th>
        <th colspan="2" style="background-color: var(--color-primary)"></th>
      </tr>
    </thead>

    <tbody>
      <% @treatments.each do |treatment| %>
        <tr>
          <td>
            <%= treatment.title %>
          </td>
          <td>
            <%= treatment.treatment_date.strftime('%d/%m') %>
          </td>
          <td>
            <%= treatment.establishment_name %>
          </td>
          <% unless @shared_user%>
            <td>
              <%= link_to edit_appointment_treatment_path(@appointment, treatment) do %>
                <%= image_tag 'icon_edit.svg' %>
              <% end %>
            </td>
            <td>
              <%= link_to  [@appointment, treatment], method: :delete, data: { confirm: 'Você tem certeza?' } do %>
                <%= image_tag('icon_trash.svg')%>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    
  </table>
</div>