<div class="container-fluid" >

	<!-- Search from -->
	<div class="col-md-12 mb-5">
		<div class="card">
			<div class="card-header">
				<h4>Busca</h4>
			</div>
			<div class="card-body">
				<%= form_tag dashboard_path, method: :get, remote: true, class: 'form-inline' do %>
					<div class="form-group col-md-6">
						<%= text_field_tag 'search', @search, placeholder: 'Busque suas consultas, exames e tratamentos', class: 'form-control col-md-12' %>
					</div>
					<div class="form-group">
						<%= submit_tag 'Buscar', class: 'btn btn-primary' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<!-- Search results -->
	<div id="results" class="row ml-3 mr-3 justify-content-sm-center mb-5"></div>

	<div class='row ml-3 mr-3 justify-content-sm-center'>
  	<div class='col-xl-4 col-sm-4 col-md-4'>
    	
      <table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col" class = "header_tables_dashboard text-center font-weight-bold"><%= link_to 'Consultas', appointments_path, id:"header_table_appointment"  %></th>
					</tr>
				</thead>
				<% if @appointments.present? %>
					<tbody>
						<% @appointments.each do |appointment| %>
							<tr>
								<% @title = "#{appointment.title} #{appointment.appointment_date.strftime('%d/%m')}" %>
								<td class="text-center"><%= link_to "#{@title}", appointment_path(appointment), class:"text-decoration-none results_tables"%></td>
							</tr>
						<% end %>
					</tbody>
				<% end %>
			</table>
		</div>

		<div class='col-xl-4 col-sm-4 col-md-4'>
    	<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col" class = "header_tables_dashboard text-center font-weight-bold"><span id="header_table_appointment">Exames</span></th>
					</tr>
				</thead>
				<% if @exams.present? %>
					<tbody>
						<% @exams.each do |exam| %>
							<tr>
								<% @title = "#{exam.title} #{exam.exam_date.strftime('%d/%m')}" %>
								<td class="text-center"><%= link_to "#{@title}",appointment_exam_path(appointment_id: exam.appointment_id, id: exam.id), class:"text-decoration-none results_tables"%></td>
							</tr>
						<% end %>
					</tbody>
				<% end %>
			</table>
    </div>

		<div class='col-xl-4 col-sm-4 col-md-4'>     	
    	<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col" class = "header_tables_dashboard text-center font-weight-bold"><span id="header_table_appointment">Tratamentos</span></th>
					</tr>
				</thead>
				
				<% if @treatments.present? %>
					<tbody>
						<% @treatments.each do |treatment| %>
							<tr>
								<% @title = "#{treatment.title} #{treatment.treatment_date.strftime('%d/%m')}" %>
								<td class="text-center"><%= link_to "#{@title}",appointment_treatment_path(appointment_id: treatment.appointment_id, id: treatment.id), class:"text-decoration-none results_tables"%></td>
							</tr>
						<% end %>
					</tbody>
				<% end %>
			</table>
  	</div>
	</div>
</div>
	