<header class="header_auth text-center">
    <div class="row">
      <%= link_to image_tag("logo_inicial_teste.svg", alt: "Logo oneBitHealth", class:'rounded mx-auto img-logo-auth' ), '/', :id => 'link-img-header' %>
    </div>
    <div class="row">
      <h3 class="col-12 description-page mt-1">Criar sua conta</h3>
    </div>
</header>

<main>
  <div class="container">
    <div class="d-flex justify-content-center col-sm-12 col-md-10 col-lg">
        <div class="col-lg-4">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-row">
              <div class="form-group w-100">
                <%= f.label "Nome completo" %>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"  %>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group w-100">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-bottom border-bottom-2 form-control", placeholder:"" %>
              </div>
            </div>

          <div class="form-row">
            <div class="form-group w-100">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "current-password", class: "rounded-bottom border-bottom-5 form-control", placeholder: "" %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group w-100">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "current-password", class: "rounded-bottom border-bottom-5 form-control", placeholder: "" %>
            </div>
          </div>

          <div class="form-row">
            <%= f.submit "Cadastrar", class: "text-uppercase btn-lg col-12 button-submit-auth-entry" %>
          </div>

          <div class="form-row">
            <div class="text-center mt-2">
              <p class="fs-6 lh-sm"> Já tem uma conta?<%= link_to " Entre.", "/users/sign_in", class: "text-uppercase submit_auth" %></p> 
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
