<div class="modal fade" id="modal_share" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- Title -->

      <div class="modal-header">
        <%= image_tag 'icon_share_history.svg' %>
          <h2 class="modal-title ml-3" id="exampleModalLongTitle">
            Compartilhamento
          </h2>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <!-- Input Search -->

      <div class="modal-body">
        <div class="input_search mb-5 mt-1">
          <div class="container">
            <span class="input-group-append justify-content-center">
              <%= image_tag 'icon_search_magnifying_glass.svg' , class:"search_button" %>
                <input type="text" id="shared_search" name="share_search" value="" placeholder="Digíte um e-mail">
            </span>
          </div>
        </div>

        <!-- Where search result fields appear -->
        <div class="title_table_results mt-2">
          <span class=" text-center"> Compartilhar seu Histórico</td>
        </div>

        <div class="container search_result_table mb-5">
          <table class="not-shared-yet mt-5  table">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody>
              <!-- Field where it will print results -->
            </tbody>
          </table>
        </div>
        <!-- ---------------------------------------------------------- -->

        <!-- Users you shared your queries with   -->
        <div class="title_table_results mt-2">
          <span class="text-center"> Remover Compartilhamento</td>
        </div>

        <div class="person_already_shared_table container mb-5">
          <table class="users_shared table mt-5">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody>
              <% current_user.users_i_share_with.each do |shared| %>
                <tr>
                  <td>
                    <%= "#{shared.name}" %>
                  </td>
                  <td class="remove_user_shared" id=<%="#{shared.id}" %> >
                    <%= image_tag('icon_trash.svg')%>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>