<section class="content-header">
  <h1><%= t('common.errors_hanlder.title', status_code: @status_code) %></h1>
</section>
<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow"> <%= t('common.errors_hanlder.stator_code', status_code: @status_code) %></h2>
    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i><%= t("common.errors_hanlder.#{@status_code}.summary") %></h3>
      <p>
        <%= t("common.errors_hanlder.#{@status_code}.description") %>
        <%= link_to t('common.errors_hanlder.retrurn_link'), root_path %>
      </p>
    </div>
  </div>
  </div>
</section>