<div class="container">
  <div class="d-flex justify-content-center col-sm-12 col-md-10 col-lg">
    <div class="col-lg-10">
			<%= simple_form_for @appointment, defaults: { input_html: { class: 'form-control' } } do |f| %>
  			<%= f.error_notification %>
  			<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
	
  			<div class="form-group">
  			  <%= f.input :title, label: 'Título' %>
  			  <%= f.input :description, label: 'Descrição' %>
  			  <%= f.input :professional_name, label: 'Profissional' %>
  			  <%= f.datetime_field :appointment_date %>

					<%= f.button :submit, "Criar Consulta" , {class:"btn mt-3 button-submit-auth-entry mb-4 btn-lg btn-block text-center"} %>
        </div>
			<% end %>
		</div>
	</div>
</div>