<div class="container-fluid show_card">
  <div class="cards">
    <div class="card">
      <input type="checkbox" id="bgtoggle" class="toggle" />
      <label for="bgtoggle" class="menu"></label>
      
      <ul class="menu_container">
        <li>Note</li>
        <li>Edit</li>
        <li>Delete</li>
      </ul> 
      
      <div class="contents">
        <div class="container-fluid">
          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">Título:</h5> <span class="attribute_value"><%= @appointment.title %></span>
          </div>

          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">Nome do Profissional:</h5> <span class="attribute_value"><%= @appointment.professional_name %></span>
          </div>
          
          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">Data de Consulta:</h5> <span class="attribute_value"><%= @appointment.appointment_date.strftime('%d/%m/%y') %></span>
          </div>
          
          <div class="row mb-3">
            <% if @appointment.exams.any? %>
              <h5 class="attribute_camp mr-4">Exames associados:</h5>
              
              <% for exam in @appointment.exams %>
                <ul>
                  <td><%= link_to "#{exam.title}", [@appointment, exam] %></td>
                </ul>
              <% end %>

            <% end %>

          </div>

          <div class="row mb-2">
            <% if @appointment.treatments.any? %>
              Tratamentos associados:
              <% for treatment in @appointment.treatments %>
                <ul>
                  <td><%= link_to "#{treatment.title}", [@appointment, treatment] %></td>
                </ul>
              <% end %>
            <% end %>
          </div>

          <div class="row mb-5">
            <ul class="list-group">

              <li class="list-item btn mb-2 text-left"><%= link_to 'Edit', edit_appointment_path(@appointment) %></li>
              <li class="list-item btn mb-2 text-left"><%= link_to 'Add Exam', appointment_exams_path(@appointment) %></li>
              <li class="list-item btn mb-2 text-left"><%= link_to 'Add Treatment', appointment_treatments_path(@appointment) %> </li>
              <li class="list-item btn mb-2 text-left"><%= link_to 'Back', appointments_path %></li>
            
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
