<div class="container-fluid show_card">
  <div class="cards">
    <div class="card">
      <input type="checkbox" id="bgtoggle" class="toggle" />
      <label for="bgtoggle" class="menu"></label>
      <!-- We can implement other information in the top menu. -->
      <!--      <ul class="menu_container">
 
      </ul>  -->

      <div class="contents">
        <div class="container-fluid">
          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">Título :</h5> <span class="attribute_value">
              <%= @appointment.title %>
            </span>
          </div>

          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">Nome do Profissional :</h5> <span class="attribute_value">
              <%= @appointment.professional_name %>
            </span>
          </div>

          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">Data de Consulta :</h5> <span class="attribute_value">
              <%= @appointment.appointment_date.strftime('%d/%m/%y') %>
            </span>
          </div>

          <div class="row mb-3">
            <% if @appointment.exams.any? %>
              <h5 class="attribute_camp mr-4">Exames associados :</h5>

              <% for exam in @appointment.exams %>
                <ul>
                  <td>
                    <%= link_to "#{exam.title}" , [@appointment, exam] %>
                  </td>
                </ul>
                <% end %>

                  <% end %>

          </div>

          <div class="row mb-2">
            <% if @appointment.treatments.any? %>
              Tratamentos associados:
              <% for treatment in @appointment.treatments %>
                <ul>
                  <td>
                    <%= link_to "#{treatment.title}" , [@appointment, treatment] %>
                  </td>
                </ul>
                <% end %>
                  <% end %>
          </div>

          <div class="row mb-5 interactive_button">
            <% unless current_user !=@appointment.user %>

              <%= link_to 'Editar' , edit_appointment_path(@appointment), class:"button_style_horizontal btn mb-4 btn-sm
                btn-block text-left" %>
                <%= link_to 'Adicionar Exame' , appointment_exams_path(@appointment), class:"button_style_horizontal btn
                  mb-4 btn-lg btn-block text-left"%>
                  <%= link_to 'Adicionar Tratamento' , appointment_treatments_path(@appointment),
                    class:"button_style_horizontal btn mb-4 btn-lg btn-block text-left" %>

                    <%= link_to 'Voltar ao Hitórico' , appointments_path, class:"btn-info button_style_horizontal btn
                      mb-4 btn-lg btn-block text-left" %>
                      <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>