<p id="notice"><%= notice %></p>

<h1>Exams</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Establishment name</th>
      <th>Exam date</th>
      <th>Appointment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
    <tr>
      <td><%= exam.title %></td>
      <td><%= exam.description %></td>
      <td><%= exam.establishment_name %></td>
      <td><%= exam.exam_date %></td>
      <td><%= exam.appointment_id %></td>
      <td><%= link_to 'Show', [@appointment] %></td>
      <td><%= link_to 'Edit Exam', edit_appointment_exam_path(@appointment, exam) %></td>
      <td><%= link_to 'Destroy Exam', [@appointment, exam], method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam', new_appointment_exam_path(@appointment) %>
<%= link_to 'Back to Appointment', appointment_path(@appointment) %>