<p id="notice">
  <%= notice %>
</p>

<p>
  <strong>Title:</strong>
  <%= @exam.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exam.description %>
</p>

<p>
  <strong>Establishment name:</strong>
  <%= @exam.establishment_name %>
</p>

<p>
  <strong>Exam date:</strong>
  <%= @exam.exam_date %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @exam.appointment_id %>
</p>

<h4>Documentos</h4>
<% @exam.documents.each_with_index do |document, index| %>
  <%= link_to("Anexo #{index + 1} ", document.url, target: '_blank') %>
  <br/>
<% end %>

<hr/>

<% unless @appointment.user != current_user %>
  <%= link_to 'Editar', edit_appointment_exam_path(@appointment, @exam) %> |
  <%= link_to 'Retornar', appointment_exams_path(@appointment) %>
<% end %>