<!--
  Tablela com detalhe de todos os dados rápido do exame Título > Data > Local do Exame
  Botão para editar o exame
  Botão para deletar o exame
-->
<p id="notice">
  <%= notice %>
</p>
<div class="container-fluid show_card">
  <div class="cards">
    <div class="card">
      <input type="checkbox" id="bgtoggle" class="toggle" />
      <label for="bgtoggle" class="menu"></label>

      <!-- Data the exams -->
      <div class="contents">
        <div class="container-fluid">
          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">Título do Tratamento :</h5> <span class="attribute_value">
              <%= @exam.title %>
            </span>
          </div>

          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">Data de Exame :</h5> <span class="attribute_value">
              <%= @exam.exam_date.strftime('%d/%m/%y') %>
            </span>
          </div>

          <div class="row mb-3 border-bottom-2 border-success ">
            <h5 class="attribute_camp mr-4">Local de Exame :</h5> <span class="attribute_value">
              <%= @exam.establishment_name %>
            </span>
          </div>

          <div class="row mb-3">
            <h5 class="attribute_camp mr-4">
              <%= image_tag 'icon_file.svg' , class: "ml-2" %> Documentos :
            </h5>
            <div class="container">
              <% @exam.documents.each_with_index do |document, index| %>
                <div class="row ml-5">
                  <button type="button" class="btn btn-success">
                    <div class="col">
                      <%= link_to "Anexo #{index + 1}" , document.service_url, target: '_blank' ,
                        class: "text-decoration-none text-light bold font-weight-bold" %>
                        <%= link_to 'Remove' , delete_exam_attached_appointment_exam_path(@exam.appointment_id,
                          document.signed_id), method: :delete, data: { confirm: 'Tem certeza?' } %>
                    </div>
                  </button>
                </div>
            </div>
            <% end %>
          </div>

          <% unless @exam.appointment_id !=current_user.id %>
            <div class="row mt-5 interactive_button">

              <%= link_to 'Editar' , edit_appointment_exam_path(@appointment, @exam), class:"button_style_horizontal btn
                mb-4 btn-sm btn-block text-left" %>

                <%= link_to 'Remover Exame' , [@appointment, @exam], method: :delete, data: {
                  confirm: 'Você tem certeza?' }, class:"btn button_style_horizontal btn mb-4 btn-sm btn-block
                  text-left" %>

                  <%= link_to 'Voltar à Consulta' , appointment_path(@appointment), class:"btn-info
                    button_style_horizontal btn mb-4 btn-sm btn-block text-left" %>
            </div>
            <% end%>
        </div>
      </div>
    </div>
  </div>
</div>